*{
  font-family: arial;
}
#colorWheel{
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;

  width: 300px;
  height: 402px;
  /* padding: 10px; */

  background: rgb(230,230,230);
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.43);
}

#colorSelectorCanvas{
  position: relative;

  width: 300px;
  height: 232px;
}

#toolbar{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  text-align: center;

  color: white;
  background: #262626;
}

#toolbar ul{
  margin: 0;
  padding: 0 5px;
}

#toolbar ul li{
  display: inline-block;

  width: 23%;
  padding: 20px 0;

  list-style: none;

  text-align: center;
}

#toolbar ul li:hover{
  background: #404040;
}

#colorWheel-ColorInfo{
  margin-top: 10px;

  text-align: center;
}

#colorWheel-ColorInfo input{
  margin-top: 12px;
}

#colorWheel-ColorInfo input[type='text']{
  width: 50px;
}

#colorWheel-ColorInfo input.cmyk{
  width: 26px;
}

#colorWheel-ColorInfo label.cmyk{
  margin-left: 10px;
}

#colorWheel-ColorInfo #color-preview{
  position: relative;
  top: 5px;
  outline: solid 1px black;

  display: inline-block;

  width: 50px;
  height: 18px;
}

#slider{
  /*background: red;*/
  position: absolute;

  width: 100%;
  height: 15px;

  cursor: default;
}

#slider-track{
  position: relative;
  /*background: white;*/

  height: 10px;
}

#slider-knob-shape{
  /* border-radius: 100%; */
  width: 0;
  height: 0;
  margin: 9px 0 0 -6px;

  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  border-left: 5px solid transparent;
}

#slider-knob{
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0;

  width: 0px;
  height: 10px;

  border-left: solid 2px #000;
  box-shadow: 0 0 0 1px #fff;
}

#pointer{
  position: absolute;

  width: 14px;
  height: 14px;
}

#pointer-shape{
  position: absolute;
  top: -5px;
  left: -7px;

  width: 10px;
  height: 10px;

  border: solid 2px #fff;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #000;
}
